.body{
    background-color: seashell;
}
h2{
    font-weight: bold;
    font-size: large;
    font-family: Impact;
    color: slateblue;
}
.title{
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Segoe UI';
}

.abutton{
    border-color: tan;
    border: solid 1px;
    border-radius: 3%;
}

.rightanswerB{
    background-color: green;
}
.wronganswerB{
    background-color: red;
}

.righttext {
    color: green;
    font-weight: bold;
}
.wrongtext{
    color: red;
}
.row{
    background-color: snow;
    border-radius: 4%;
}
.userHS{
    color: springgreen;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: larger;
}
@media screen and (max-width: 500px){
    body {
        background-color: springgreen;
    }
} 

